{% extends "base.html" %}
{% block head %}
{% block title %}Withdraw Page{% endblock %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
{% include "header_cashier.html" %}
<br>
<div class="panel panel-default" style="border: 0px;width:28%;background:white;margin:auto;">
        <div class="panel-heading" style="border: 0px;background-image:none;background:white;color:black;text-align: center;font-size: 25px"><b>Withdraw Money</b></div>
        <div class="panel-body">
            <form class="form-horizontal" style="padding: auto" method="POST" action="">
                <div class="form-group">
                    <label class="control-label col-md-6" style="text-align: left;padding-left:20%">Customer ID </label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Customer ID
                            -->
                        <label class="control-label" style="text-align: left;padding-left:5%">80000</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6" style="text-align: left;padding-left:20%">Account ID </label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Account ID
                            -->
                        <label class="control-label" style="text-align: left;padding-left:5%">1000</label>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6" style="text-align: left;padding-left:20%">Account Type</label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Account Type
                            -->
                        <label class="control-label" style="text-align: left;padding-left:5%">Savings</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6" style="text-align: left;padding-left:20%">Balance</label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the account balance
                            -->
                        <label class="control-label" style="text-align: left;padding-left:5%">10000</label>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-md-6" style="text-align: left;">Withdraw Amount : </label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" name="withdraw_amount" style=" box-sizing: border-box;" required >
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                    <center><button type="submit" class="btn btn-default" style="background-color: black;color:#FFCC00;border: 2px solid #433937;font-size: 15px">Submit</button></center>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
{% include "footer.html" %}
{% endblock %}