{% extends "base.html" %}
{% block head %}
{% block title %}Transfer Page{% endblock %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
{% include "header_cashier.html" %}
<br>
<div style="flex-grow: 1">
    <div class="panel panel-default" style="border: 0px;width:35%;background:white;margin:auto;">
        <div class="panel-heading" style="border: 0px;background-image:none;background:white;color:black;text-align: center;font-size: 25px"><b>Transfer Money</b></div>
        <div class="panel-body">
        {% if error %}
        <center><p class=error><strong>Error:</strong> {{ error }}<center>
{% endif %}
{% if message %}
        <center><p class=error><strong>Messaage:</strong> {{ message }}<center>
{% endif %}
            <form class="form-horizontal" name="transfer_form" style="padding: auto" method="POST" action="">
                <div class="form-group">
                    <label class="control-label col-md-5 " style="text-align: left;">Customer ID </label>
                    <!--
                        Customer ID
                        This value should come from database
                    -->
                    <div class="col-md-7">
                        <input name = "customer_id" class="form-control" style=" box-sizing: border-box;" readonly value={{account[0]}}></input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5 " style="text-align: left;">Source Account</label>
                    <!--
                        Source Account Type
                        This value should come from database
                    -->
                    <div class="col-md-7">
                        <select class="form-control" name="source_account_list">
                            {% for acc in accounts %}
                                <option>{{acc[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5 " style="text-align: left;">Target Account </label>
                    <!--
                        Source Account Type
                        This value should come from database
                    -->
                    <div class="col-md-7">
                        <select class="form-control" name="target_account_list">
                          {% for acc in accounts %}
                                <option>{{acc[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5 " style="text-align: left;">Transfer Amount </label>
                    <!--
                        Source Account Type
                        This value should come from database
                    -->
                    <div class="col-md-7">
                        <input type="number" class="form-control" name="transfer_amount" style=" box-sizing: border-box;" required >
                    </div>
                </div>
                
                <br>
                <div class="form-group">
                    <div class="col-md-6">
                    <center><a href="{{ url_for('accountDetails') }}" name="cancel" class="btn btn-default" style="background-color: black;color:#FFCC00;border: 2px solid #433937;font-size: 15px">Cancel</a></center>
                    </div>
                    <div class="col-md-6">
                    <center><button type="submit" name="submit" class="btn btn-default" style="background-color: black;color:#FFCC00;border: 2px solid #433937;font-size: 15px">Transfer</button></center>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- if money transfer successful then display this code-->

   

    <br>
    <div class="panel panel-default" style="border: 0px;width:35%;background:white;margin:auto;">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                <center><a href="{{ url_for('accountDetails') }}" name="back" class="btn btn-default" style="background-color: black;color:#FFCC00;border: 2px solid #433937;font-size: 15px">Back</a></center>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}