<footer class="page-footer font-small teal pt-4" id="footer_info">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left" style="margin-left: 10%;margin-right: 10%">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-5 auto">

        <!-- Content -->
        <h2 class="text-left">About Us</h2>
        <p class="text-left">FedChoice bank was founded on 14th June 2016 with the objective of providing with the detail services based on Retail Banking operations.The Retail Internet banking of FedChoice Bank offers a plethora of products and services,to cater its customers by providing certain animus services with an easy volving offers and ways to do the required job without hurdling the process.</p>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-3 auto">

        <!-- Content -->
        <h2 class="text-left">Services</h2>
        <p class="text-left">
          Retail and Consumer Banking
          <br>
          Personal Internet Banking
          <br>
          Corporate Internet Banking
          <br>
          Debit and Credit Cards
        </p>

      </div>
      <!-- Grid column -->
      <div class="col-md-4 auto">

        <!-- Content -->
        <h2 class="text-left">Contact Us</h2>
        <p class="text-left">
          Email:customer.service@fedchoice.com
          <br>
          Contact No:022-42406778,022-54567890
          <br>
          Address:Corporate Office,Madame Cama Road,
          <br>
          Narimal Point,Mumbai,Maharashtra 400021
        </p>

      </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" id="copyright_info">
    <div class="container-fluid text-center text-md-left" style="margin-left: 10%;margin-right: 10%;padding-top: 1%">
    <div class="row">
      <div class="col-md-6" style="text-align: left">
        Copyright ™ All rights reserved by FedChoice Bank</div>
    </div>
  </div>
</div>
  <!-- Copyright -->

</footer>