<header>
  <h3 id="h3_id"><br>
   <b style="color: #FFCC00"> FedChoice </b>
   <b style="color: white"> Bank</b><br></h3>
  <nav>
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('home') }}"><b style="color:black">Home</b></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b style="color:black">Customer Management
          <span class="caret"></span></b></a>
          <ul class="dropdown-menu" style="background-color: #FFCC00">
            <li><a href="{{ url_for('createCustomer') }}"><b style="color:black">Create Customer</b> </a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="{{ url_for('updateCustomer') }}"><b style="color:black">Update Customer</b></a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="{{ url_for('deleteCustomer') }}"><b style="color:black">Delete Customer</b></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b style="color:black">Account Management
          <span class="caret"></span></b></a>
          <ul class="dropdown-menu" style="background-color: #FFCC00">
            <li><a href="{{ url_for('createAccount') }}"><b style="color:black">Create Account </b></a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="{{ url_for('deleteAccount') }}"><b style="color:black">Delete Account</b></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b style="color:black">Status Details
          <span class="caret"></span></b></a>
          <ul class="dropdown-menu" style="background-color: #FFCC00">
            <li><a href="{{ url_for('customerStatus') }}"><b style="color:black">Customer Status</b></a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="{{ url_for('accountStatus') }}"><b style="color:black">Account Status</b></a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('logout') }}"><b style="color:black">Logout</b></a></li>
      </ul>
    </div>
  </nav>
</header>
