<header>
  <h3 id="h3_id"><br>
   <b style="color: #FFCC00"> FedChoice </b>
   <b style="color: white"> Bank</b><br></h3>
  <nav>
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class ><a href="{{ url_for('home_cashier') }}"><b style="color:black">Home</b></a></li>
        <li class ><a href="{{ url_for('accountDetails') }}"><b style="color:black">Account Details</b></a></li>
        <li class ><a href="{{ url_for('accountStatement') }}"><b style="color:black">Account Statement</b></a></li>
        <li class ><a href="{{ url_for('logout') }}"><b style="color:black">Logout</b></a></li>
      </ul>
    </div>
  </nav>
</header>
