{% extends "base.html" %}
{% block head %}
{% block title %}Update Account Page{% endblock %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
{% include "header.html" %}
<br>
<div class="panel panel-default" style="border: 0px;width:32%;background:white;margin:auto;">
        <div class="panel-heading" style="border: 0px;background-image:none;background:white;color:black;text-align: center;font-size: 25px"><b>Update Customer</b></div>
        <div class="panel-body">
            <form class="form-horizontal" style="padding: auto" method="POST" action="">
                <br>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Customer SSN ID </label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Customer SSN ID
                            -->
                        <label class="control-label" style="text-align: left;">80000</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Customer ID </label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Customer ID
                            -->
                        <label class="control-label" style="text-align: left;">1000</label>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left;">Old Customer Name</label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Customer Old name
                            -->
                        <label class="control-label" style="text-align: left;">Old Customer name</label>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-md-5 " style="text-align: left;">New Customer Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="customer_new_name" style=" box-sizing: border-box;" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left;">Old Address</label>
                    <div class="col-md-6">
                        <label class="control-label" style="text-align: left;">Old Address</label>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-md-5" style="text-align: left;">New Address</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="customer_new_address" style=" box-sizing: border-box;" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left;">Old Age</label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Customer Old name
                            -->
                        <label class="control-label" style="text-align: left;">Old Age</label>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-md-5" style="text-align: left;">New Age</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" name="customer_age" style=" box-sizing: border-box;" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-7" style="text-align: left;color: red">(*)Fields are compulsory</label>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                    <center><button type="submit" class="btn btn-default" style="background-color: black;color:#FFCC00;border: 2px solid #433937;font-size: 15px">Update</button></center>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
{% include "footer.html" %}
{% endblock %}