{% extends "base.html" %}
{% block head %}
{% block title %}Update Account Page{% endblock %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
{% include "header.html" %}
<!--
    here error msg should be displayed if customer not found
-->
<div style="flex-grow: 1">
<div class="panel panel-default" style="border: 0px;width:60%;background:white;margin:auto;padding-top:2%">
        <div class="panel-body" style="border: 0px">
        {% if error %}
        <center><p class=error><strong>Error:</strong> {{ error }}<center>
{% endif %}
{% if message %}
        <center><p class=error><strong>Messaage:</strong> {{ message }}<center>
{% endif %}
            <form class="form-horizontal" style="padding: auto" name="data_fetch" method="POST">
                <br>
                 <div class="form-group required">
                    <label class="control-label col-md-3" style="text-align: right;">Customer SSN ID : </label>
                    <div class="col-md-3">
                        <!-- 
                        User will enter this value
                        -->
                        <input type="number" minlength="9" style="text-align: left;"  maxlength="9" class="form-control"style=" box-sizing: border-box" value="Current" name="update_ssn_id">
                    </div>
                    <label class="control-label- col-md-1" style="text-align: center;padding: 1%;text-align: center">OR</label>
                    <label class="control-label col-md-2">Customer ID : </label>
                    <div class="col-md-3">
                        <!-- 
                            User will enter this value
                        -->
                        <input type="number" minlength="9" maxlength="9" class="form-control"style=" box-sizing: border-box;" value="Current" name="update_acc_id">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                    <center><button type="submit" name="sub_btn" class="btn btn-default" style="background-color: black;color:#FFCC00;border: 2px solid #433937;font-size: 15px">Submit</button></center>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <!-- 
    If record exists then below html code will be displayed

    -->
    <!--
        User has to edit atleast one of the fields
        If user has not edited atleast one field proper message should be displayed
    -->{% if ssn_id %}

<div class="panel panel-default" style="border: 0px;width:32%;background:white;margin:auto;">
        <div class="panel-heading" style="border: 0px;background-image:none;background:white;color:black;text-align: center;font-size: 25px"><b>Update Customer</b></div>
        <div class="panel-body">
            <form class="form-horizontal" style="padding: auto" method="POST" action="" name="update_form">
                <br>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Customer SSN ID </label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Customer SSN ID
                            -->
                        <input class="form-control" name="ssn_id" value={{ssn_id}} style=" box-sizing: border-box;" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Customer ID </label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Customer ID
                            -->
                        <input class="form-control" name="cust_id" value={{cust_id}} style=" box-sizing: border-box;" readonly>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left;">Old Customer Name</label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Customer Old name
                            -->
                        <label class="control-label" name="cust_old_name" style="text-align: left;">{{name}}</label>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-md-5 " style="text-align: left;">New Customer Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="cust_new_name" style=" box-sizing: border-box;" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left;">Old Address</label>
                    <div class="col-md-6">
                        <label class="control-label" name="cust_old_address" style="text-align: left;">{{address}}</label>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-md-5" style="text-align: left;">New Address</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="cust_new_address" style=" box-sizing: border-box;" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left;">Old Age</label>
                    <div class="col-md-6">
                            <!-- 
                                This label should display the Customer Old name
                            -->
                        <label class="control-label" name="cust_old_age" style="text-align: left;">{{age}}</label>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-md-5" style="text-align: left;">New Age</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" name="cust_new_age" style=" box-sizing: border-box;" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-7" style="text-align: left;color: red">(*)Fields are compulsory</label>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                    <center><button type="submit" name="submit_btn" class="btn btn-default" style="background-color: black;color:#FFCC00;border: 2px solid #433937;font-size: 15px">Update</button></center>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    {% endif %}
    </div>
{% include "footer.html" %}
{% endblock %}